.snowy:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 25%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow:
        #fff 25px -10px 0,
        #fff 50px 0px 0,
        #fff 75px -10px 0,
        #fff 0px 25px 0,
        #fff 25px 15px 0,
        #fff 50px 25px 0,
        #fff 75px 15px 0,
        #fff 0px 50px 0,
        #fff 25px 40px 0,
        #fff 50px 50px 0,
        #fff 75px 40px 0;
    animation: snowDrop 2s linear infinite;
}

@keyframes snowDrop {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(0px, 25px);
        box-shadow:
            #fff 25px -10px 0,
            #fff 50px 0px 0,
            #fff 75px -10px 0,
            #fff 0px 25px 0,
            #fff 25px 15px 0,
            #fff 50px 25px 0,
            #fff 75px 15px 0,
            rgba(255, 255, 255, 0) 0px 50px 0,
            rgba(255, 255, 255, 0) 25px 40px 0,
            rgba(255, 255, 255, 0) 50px 50px 0,
            rgba(255, 255, 255, 0) 75px 40px 0;
    }
}